<form action="importProcess.php" method="POST" id="importGoogleContactsForm">
    <label>{_T string="Num of contacts to import"}</label>
    <input type="text" name="maxresults_str" value="500" />
    </br>
    <label>{_T string="Gmail account"}</label>
    <input type="text" name="useracc_str" value="" />
    </br>
    <label>{_T string="Group id"}</label>
    <input type="text" name="groupid_str" value="" />
    </br>
    <input type="submit" value="{_T string="Import contacts"}"/>    
</form>
